<div id="footer">
  <div class="wrap">
    <div class="center copyrights">&copy; · {{ year }} · <a href="https://rediris.es">RedIRIS, Red Académica y de Investigación Española</a>
    </div>
    <div class="logo-footer-right show-for-large">
      <div class="logo-footer">
        <img class="pure-img" height="30px" src="{{ asset("images/logo-white.svg", "theme-rediris") }}" alt="RedIRIS">
      </div>
    </div>
  </div>
</div>
